/*----------------------------------
-------------Color Scheme-----------
------------------------------------*/
.bg-main {
    background-color: $main  !important;
}

.bg-ultralight {
    background-color: $ultralight  !important;
}

.bg-light {
    background-color: $light  !important;
}

.bg-medium {
    background-color: $medium  !important;
}

.bg-dark {
    background-color: $dark  !important;
}

.bg-accent {
    background-color: $accent  !important;
}

.bg-accent-light {
    background-color: $accent-light  !important;
}

.bg-accent-dark {
    background-color: $accent-dark  !important;
}

.bg-inv-main {
    background-color: $inv-main  !important;
}

.bg-inv-light {
    background-color: $inv-light  !important;
}

.bg-inv-medium {
    background-color: $inv-medium  !important;
}

.bg-inv-ultralight {
    background-color: $inv-ultralight  !important;
}

.bg-neutral {
    background-color: $neutral  !important;
}

.bg-neutral-light {
    background-color: $neutral-light  !important;
}

.bg-neutral-dark {
    background-color: $neutral-dark  !important;
}

.text-main {
    color: $main  !important;
}

.text-ultralight {
    color: $ultralight  !important;
}

.text-light {
    color: $light  !important;
}

.text-medium {
    color: $medium  !important;
}

.text-dark {
    color: $dark  !important;
}

.text-accent {
    color: $accent  !important;
}

.text-accent-light {
    color: $accent-light  !important;
}

.text-accent-dark {
    color: $accent-dark  !important;
}

.text-inv-main {
    color: $inv-main  !important;
}

.text-inv-light {
    color: $inv-light  !important;
}

.text-inv-medium {
    color: $inv-medium  !important;
}

.text-inv-ultralight {
    color: $inv-ultralight  !important;
}

.text-neutral {
    color: $neutral  !important;
}

.text-neutral-light {
    color: $neutral-light  !important;
}

.text-neutral-dark {
    color: $neutral-dark  !important;
}