/*----------------------------------
----------------General--------------
------------------------------------*/
*{
    box-sizing: border-box;
}

body {
    font-family: 'ancizar-regular';
    color: var(--gray-dark);
    margin: 0;
    overscroll-behavior: contain;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.disable {
    opacity: 0.8;
    pointer-events: none;
}

.main-slide {
    display: none;
}

.main-slide.current {
    display: flex;
    width: 100%;
    margin: 0;
}

.slideshow-container {
    padding: 0;
}

.rounded{
    border-radius: 0.5em !important
}

.rounded-start{
    border-radius: 0.5em 0 0 0.5em !important;
}

.rounded-end{
    border-radius: 0 0.5em 0.5em 0 !important;
}

.shadow{
    box-shadow: 0.2em 0.2em 0.3em 0 rgba($black,0.3) !important;
}

.rounded-pill-left{
    border-radius: 50rem 0 0 50rem;
}

.rounded-pill-right{
    border-radius: 0 50rem 50rem 0;
}

.rounded-bottom{
    border-radius: 0 0 1em 1em !important;
}

.top-separator{
    height: 2px;
    opacity: 1;
}

.left-separator {
    width: 2px;
    opacity: 1;
}

//----------------------------------
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    body {
        font-size: 14px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .w-md-100{
        width: 100% !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

// XExtra large devices (Xlarge desktops, 1400px and up)
@media (min-width: 1400px) {
    body {
        font-size: 22px;
    }
}