/*----------------------------------
-------------Color Scheme-----------
------------------------------------*/

//Background-color

.bg-main{background-color:var(--main);}
.bg-sec-light{background-color:var(--sec-light);}
.bg-sec-dark{background-color:var(--sec-dark);}
.bg-accent-light{background-color:var(--accent-light);}
.bg-accent-dark-alt{background-color:var(--accent-dark-alt);}
.bg-accent-dark{background-color:var(--accent-dark);}
.bg-alt-light{background-color:var(--alt-light);}
.bg-alt-dark{background-color:var(--alt-dark);}

//text-color

.text-main{color:var(--main);}
.text-sec-light{color:var(--sec-light);}
.text-sec-dark{color:var(--sec-dark);}
.text-accent-light{color:var(--accent-light);}
.text-accent-dark-alt{color:var(--accent-dark-alt);}
.text-accent-dark{color:var(--accent-dark);}
.text-alt-light{color:var(--alt-light);}
.text-alt-dark{color:var(--alt-dark);}