/*----------------------------------
------------Activity-select---------
------------------------------------*/

.activity-select {

    .selectOption {
        background-color: #F0F6FB;
    }

    .custom-select {
        background-color: $accent-light;
        border: none;
        color: $white;
        text-align: center;
        cursor: pointer;
        user-select: none;
        width: 100%;

        option {
            padding: 0;
            margin: 0;
            overflow: auto;
            overflow-wrap: break-word;
            white-space: nowrap;
            cursor: pointer;
            color: $accent-dark;
            background-color: $white;
            // border: 2px solid $accent-dark;

            &:checked,
            &:hover {
                background-color: $accent-dark  !important;
                color: $white  !important;
            }
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.7;
        }

        &.correct {
            background-color: $correct  !important;
            color: $main;
        }

        &.wrong {
            background-color: $wrong  !important;
            color: $main;
        }
    }
}