/*----------------------------------
---------------Card-deck------------
------------------------------------*/
.card-container {
  .progress{
     background-color: $neutral-light;
     border-radius: 1rem;
     .progress-bar{
        background-color: $accent;
        border-radius: 1rem;
     }
  }
  .card-deck{
      position: relative;
      min-height: 250px;
      .card-item {
        width: 100%;
        background-color: var(--white);
        border: 2px solid var(--alt-dark);
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        padding: 1em;
        min-height: 200px;
      }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 1200px) {
    .card-container {
        .card-deck{
            min-height: 300px;
        }
    }
}
