/*----------------------------------
---------------Variables------------
------------------------------------*/
/* Colors -------------------------------*/
/*Nova Color*/
/*-----Boost scss-----*/
body {
  color: var(--gray-dark);
  background: var(--accent-dark) !important;
}
body#page-login-index {
  background: var(--accent-dark-alt) var(--login-bg-img) no-repeat bottom/cover !important;
  background-position: right !important;
}
@media (min-width: 992px) {
  body#page-login-index {
    background-position: center !important;
  }
}

.btn-primary {
  background-color: var(--main);
  border-color: var(--main);
}

a {
  color: var(--alt-dark);
}

#page-wrapper .navbar {
  background-color: var(--main) !important;
  color: var(--white) !important;
  max-height: unset;
}
#page-wrapper .navbar .navbar-brand {
  color: var(--white) !important;
  background-color: var(--main) !important;
  font-weight: bold;
}
#page-wrapper .navbar .nav-link {
  background-color: var(--main) !important;
  border-color: var(--main) !important;
}
#page-wrapper .navbar .nav-link .icon {
  color: var(--white) !important;
}
#page-wrapper .navbar .nav-link:hover, #page-wrapper .navbar .nav-link:focus-visible {
  background-color: var(--white) !important;
}
#page-wrapper .navbar .nav-link:hover .icon, #page-wrapper .navbar .nav-link:focus-visible .icon {
  color: var(--accent-dark) !important;
}
#page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle {
  color: var(--white);
}
#page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle .userbutton {
  line-height: 1.2;
}
#page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle:hover, #page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle:focus {
  color: var(--accent-dark) !important;
  background-color: var(--white);
}
#page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle:hover.nav-link, #page-wrapper .navbar .navbar-nav .dropdown .dropdown-toggle:focus.nav-link {
  color: var(--accent-dark);
}
#page-wrapper .navbar .navbar-nav .dropdown.show .dropdown-toggle {
  background-color: var(--white) !important;
}
#page-wrapper .navbar .navbar-nav .dropdown.show .dropdown-toggle.nav-link {
  color: var(--accent-dark) !important;
}
#page-wrapper #nav-drawer {
  background-color: var(--accent-dark) !important;
}
#page-wrapper #nav-drawer .list-group {
  border-radius: 0.5rem;
  background-color: var(--white);
}
#page-wrapper #nav-drawer .list-group ul li .list-group-item {
  background-color: unset;
  border: none;
  border-bottom: 1px solid var(--accent-dark);
  color: var(--accent-dark);
}
#page-wrapper #nav-drawer .list-group ul li .list-group-item .icon::before {
  color: var(--accent-dark);
}
#page-wrapper #nav-drawer .list-group ul li .list-group-item.active, #page-wrapper #nav-drawer .list-group ul li .list-group-item:hover {
  background-color: var(--main);
  color: var(--white);
}
#page-wrapper #nav-drawer .list-group ul li .list-group-item.active .icon::before, #page-wrapper #nav-drawer .list-group ul li .list-group-item:hover .icon::before {
  color: var(--white);
}
#page-wrapper #nav-drawer .list-group ul li:first-child .list-group-item {
  border-radius: 0.5rem 0.5rem 0 0;
}
#page-wrapper #nav-drawer .list-group ul li:last-child .list-group-item {
  border-bottom: none;
  border-radius: 0 0 0.5rem 0.5rem;
}
#page-wrapper #nav-drawer .list-group ul li:only-child .list-group-item {
  border-radius: 0.5rem;
}
#page-wrapper #page #page-header {
  background-color: var(--sec-light) !important;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
#page-wrapper #page #page-header .card {
  background-color: unset;
  border: unset !important;
}
#page-wrapper #page #page-content {
  border-radius: 1rem;
  background-color: var(--white) !important;
  padding-top: 1rem;
}
#page-wrapper #page #page-content #moodle-page #region-main-box .card {
  background-color: var(--gray-light) !important;
  border-radius: 1rem;
  border: unset !important;
}
#page-wrapper #page-footer {
  background-color: var(--accent-dark) !important;
  padding: 0 !important;
}
#page-wrapper #page-footer .container {
  max-width: 100%;
  padding: 0;
  padding-top: 1em;
}
#page-wrapper #page-footer .container a[href^="https://download.moodle.org/"] {
  padding: 0 4%;
}
#page-wrapper #page-footer .container .helplink,
#page-wrapper #page-footer .container .logininfo,
#page-wrapper #page-footer .container .homelink,
#page-wrapper #page-footer .container .tool_dataprivacy,
#page-wrapper #page-footer .container .policiesfooter {
  display: none !important;
}
#page-wrapper #page-footer .container #footer-custom {
  margin-top: 1em;
}

#page-login-index #page-wrapper #page {
  background-color: unset !important;
}
#page-login-index #page-wrapper #page #page-content #region-main-box {
  display: flex;
  align-items: center;
}
#page-login-index #page-wrapper #page #page-content #region-main-box .card {
  border-radius: 1rem;
  overflow: hidden;
  border: none;
}
#page-login-index #page-wrapper #page #page-content #region-main-box .card .card-block .card-header {
  background-color: var(--main);
  color: var(--white);
}

/*-moodlecloud-*/
#freetrial [data-region=drawer], #freetrial [data-region=right-hand-drawer].drawer {
  top: 110px !important;
}

body:not(#page-h5p-embed) #freetrial #page {
  margin-top: 130px !important;
}

/*# sourceMappingURL=style.css.map */
