.accordion-button{
    background-color: $acordion-header;
    &:hover,
    &:focus{
        background-color: $sc-green-light;
    }
}
.accordion-button:not(.collapsed){
    background-color: $ah-not-collapsed;
    color: $blue-dark;
    &:hover,
    &:focus{
        background-color: $ah-not-collapsed;
    }
}