/*----------------------------------
------------Check-Activity-----------
------------------------------------*/
.check-activity {
  input {
    &:disabled~ {
      .custom-control-label {
        opacity: 0.8;
      }
    }
  }

  .custom-control {
    &.custom-checkbox {
      margin-bottom: 1em;
      min-height: 30px;
    }
  }

  .custom-control-input {
    &:checked~ {
      .custom-control-label {
        &:before {
          background-color: white;
        }
      }
    }
  }

  .custom-checkbox {
    .custom-control-input {
      &:disabled {
        &:checked~ {
          .custom-control-label {
            &::before {
              background-color: rgba($pr-blue-light, 0.3);
              border-color: $pr-blue-light;
            }
          }
        }
      }
    }
  }

  .custom-control-label {
    cursor: pointer;
    padding-left: 25px;

    &:before {
      top: 0;
      width: 30px;
      height: 30px;
      left: -1.4rem;
      border: 2px solid $pr-blue-light;
      border-radius: 50%;
    }

    &:after {
      top: 0;
      width: 30px;
      height: 30px;
      left: -1.4rem;
      filter: invert(33%) sepia(74%) saturate(4510%) hue-rotate(201deg) brightness(105%) contrast(102%);
    }
  }
}

#checkListQuestions {
  background-color: white;
  color: $pr-blue-light;
  //font-family: 'maven-pro-semibold';
  padding: 1.5em;
  border-radius: 1em;
}