/*----------------------------------
-------------Radio-Activity---------
------------------------------------*/
.radio-activity {

    .radio-group-options {

        .custom-radio {
            cursor: pointer;

            label{
                padding: 1em;
                .letter {
                    &::before {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    margin-bottom: 0;
                    }
                }
                p{
                    margin-bottom: 0;
                }
                margin-bottom: 0;
            }

            &:nth-child(1) {
                .letter {
                    &::before {
                        content: "A";
                    }
                }
            }
            &:nth-child(2) {
                .letter {
                    &::before {
                        content: "B";
                    }
                }
            }
            &:nth-child(3) {
                .letter {
                    &::before {
                        content: "C";
                    }
                }
            }
            &:nth-child(4) {
                .letter {
                    &::before {
                        content: "D";
                    }
                }
            }
            &:nth-child(5) {
                .letter {
                    &::before {
                        content: "E";
                    }
                }
            }
            &:nth-child(6) {
                .letter {
                    &::before {
                        content: "F";
                    }
                }
            }

            input {
                width: 1.3em;
                height: 1.3em;
                &:disabled~ {
                    .custom-control-label {
                    opacity: 0.8;
                    }
                }
            }
        }
    }
}