/*----------------------------------
-------------Color Scheme-----------
------------------------------------*/

//Background-color

.bg-main{background-color: $main;}
.bg-accent{background-color: $accent;}
.bg-light{background-color: $light;}
.bg-dark{background-color: $dark;}
.bg-light-inv{background-color: $light-inv;}
.bg-dark-inv{background-color: $dark-inv;}
.bg-neutral{background-color: $neutral;}
.bg-neutral-light{background-color: $neutral-light;}
.bg-neutral-dark{background-color: $neutral-dark;}

//text-color

.text-main{color: $main;}
.text-accent{color: $accent;}
.text-light{color: $light;}
.text-dark{color: $dark;}
.text-light-inv{color: $light-inv;}
.text-dark-inv{color: $dark-inv;}
.text-neutral{color: $neutral;}
.text-neutral-light{color: $neutral-light;}
.text-neutral-dark{color: $neutral-dark;}