/*----------------------------------
-------------Main content-----------
------------------------------------*/

.main-content{
    main{
        &.content{
            .pdf-container{
                border-radius: 1em;
                background-color: $light-inv;
                padding: 1em;
            }
        }
    }
}

//content


.content-header {
    border-bottom: 8px solid $magenta-medium;

    .logo-container{
        background-color: $blue-dark;
        img{
            height: 90px;
        }
    }

    .title-container{
        background-color: $header-title-blaground;
        h1{
            color: $white;
        }
        h2{
            color: $white;
        }
    }

}

.content-body{
    .section-container{
        border-radius: 1em;
        .text-box{
            font-family: 'ancizar-light';
            font-size: 1.2em;
            text-align: center;
        }
    }
}
