/*----------------------------------
--------Text Elements & Format------
------------------------------------*/
//text elements
p{
    font-size: 1rem;
    line-height: 1.5;
    strong,b {
        font-family: 'ancizar-bold';
    }
    em,i {
        font-family: 'ancizar-italic';
    }
}

small{
    font-size: 0.7rem;
}

.bigfont{
    font-size: 2rem !important;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3{
    font-size: 1.125rem;
}

h4{
    font-size: 1rem;
}

a{
    color: $accent;
    text-decoration: underline;
    overflow-wrap: break-word;
    &:hover{
        color: $light;
    }
}

ul.slide-list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 1em;

    li {
        position: relative;
        margin-bottom: 1em;
        font-size: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "\25CF";
            font-size: 1em;
            position: absolute;
            top: 0px;
            left: -1em;
            color: $accent;
        }
    }
}

ol{
    counter-reset: li;

    li::before {
        content: "";
        display: inline-block;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        direction: rtl;
    }

    &.number {
        list-style: none;

        li::before {
            content: "." counter(li);
            color: $main;
            display: inline-block;
            width: 1em;
            margin-left: -1.5em;
            margin-right: 0.5em;
            text-align: right;
            direction: rtl;
            font-weight: 600;
        }
    }

}

//french-indentation
.f-dent{
    margin-left: 1em;
    text-indent: -1em;
}
