/*----------------------------------
----------------Buttons--------------
------------------------------------*/
.btn {
    transition: transform .3s;
    will-change: transform;
    font-size: 1.25rem;

    &.btn-primary {
        background-color: $inv-medium;
        color: $white;
        border: none;

        &:hover,
        &:focus {
            background-color: $inv-light;
            color: $dark;

            &.disabled {
                background-color: $neutral-light;
                color: $neutral-dark;
            }
        }
    }

    &.btn-secondary {
        background-color: $accent-dark;
        color: $white;
        border: none;

        &:hover,
        &:focus {
            background-color: $accent-light;

            &.disabled {
                background-color: $neutral-light;
                color: $neutral-dark;
            }
        }
    }

    &.disabled {
        background-color: $neutral-light;
        color: $neutral-dark;
    }

    &:hover,
    &:focus {
        transform: scale(1.05);
    }

    &.btn-nav {
        background-color: $accent;
        color: $white;
        border: none;
        border-radius: 22px;
        padding: 6px 22px 4px;

        &:hover,
        &:focus {
            background-color: $accent-dark;

            &.disabled {
                background-color: $neutral-light;
                color: $neutral-dark;
            }
        }
    }
}

.btns-nav-container {
    width: 100%;
}