/*----------------------------------
-----------------Fonts--------------
------------------------------------*/
@font-face {
    font-family: 'museosans-100';
    font-style: normal;
    font-weight: 100;
    src: url("#{$font-path}museosans-100.otf");
}