/*----------------------------------
----------------Boost scss----------
------------------------------------*/
$white: #ffffff;
$black: #000000;
$gray-light: #e6e6e6;
$gray: #999999;
$gray-dark:#4d4d4d;

/*Nova Color*/
$main:#ff4f14;
$main-light: #ffa78a;
$main-dark:#9e2800;
$accent-light:#5100e7;
$accent-dark:#260031;

body{
    background: $accent-dark !important;
}

a{
    color: $main;
}

#page-wrapper{
    .navbar{
        background-color: $main !important;
        color: $white !important;

        .navbar-brand{
            color: $white !important;
            background-color: $main !important;
            font-weight: bold;
        }

        .nav-link{
            background-color: $main !important;
            border-color: $main !important;
            .icon{
                color: $white !important;
            }

            &:hover,
            &:focus-visible{
                background-color: $white !important;
                .icon{
                    color: $accent-dark !important;
                }
            }
        }

        .navbar-nav{
            .dropdown{
                .dropdown-toggle{
                    color: $white;
                    .userbutton{
                        line-height: 1.2;
                    }

                    &:hover,
                    &:focus{
                        color: $accent-dark !important;
                        background-color: $white;
                        &.nav-link{
                            color: $accent-dark;
                        }
                    }
                }
                &.show{
                    .dropdown-toggle{
                        background-color: $white !important;
                        &.nav-link{
                            color: $accent-dark !important;
                        }
                    }
                }
            }
        }
    }

    #nav-drawer{
        background-color: $accent-dark !important;

        .list-group{
            border-radius: 0.5rem;
            background-color: $white;

            ul{

                li{
                    .list-group-item{
                        background-color: unset;
                        border: none;
                        border-bottom: 1px solid $accent-dark;
                        color: $accent-dark;

                        .icon{
                            &::before{
                                color: $accent-dark;
                            }
                        }

                        &.active, &:hover{
                            background-color: $main;
                            color: $white;
                            .icon{
                                &::before{
                                    color: $white;
                                }
                            }
                        }

                    }

                    &:first-child{
                        .list-group-item{
                            border-radius: 0.5rem 0.5rem 0 0;
                        }
                    }

                    &:last-child{
                        .list-group-item{
                            border-bottom:none;
                            border-radius: 0 0 0.5rem 0.5rem;
                        }
                    }
                    &:only-child{
                        .list-group-item{
                            border-radius: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    #page{
        background-color: $white !important;
    }

    #page-footer{
        background-color: $accent-dark !important;
        padding: 0 !important;

        .container{
            max-width: 100%;
            padding: 0;
            padding-top: 1em;

            a[href^="https://download.moodle.org/"]{
                padding: 0 4%;
            }

            .helplink,
            .logininfo,
            .homelink,
            .tool_dataprivacy,
            .policiesfooter{
                display: none !important;
            }

            #footer-custom{
                margin-top: 1em;
            }
        }
    }
}
