/*----------------------------------
----------------General--------------
------------------------------------*/

body{
/*
    font-family: 'museosans-500';
    color: $blue-site;

    p{
        font-family: 'museosans-500';
        i,em{
            font-family: 'museosans-500-italic';
            &.fa{
                font:normal normal normal 14px/1 FontAwesome !important;
            }
        }
        b,strong{
            font-family: 'museosans-700';
            i,em{
                font-family: 'museosans-700-italic';
                &.fa{
                    font:normal normal normal 14px/1 FontAwesome !important;
                }
            }
        }
    }

    h1{
        font-family: 'museosans-900';
        i,em{
            font-family: 'museosans-900-italic';
        }
    }

    h2,h3{
        font-family: 'museosans-700';
        i,em{
            font-family: 'museosans-700-italic';
        }
    }

    h4,h5,h6{
        font-family: 'museosans-500';
        i,em{
            font-family: 'museosans-500-italic';
        }
    }

    span,label{
        font-family: 'museosans-300';
        i,em{
            font-family: 'museosans-300-italic';
            &.fa{
                font:normal normal normal 14px/1 FontAwesome !important;
            }
        }
    }

    .media-course{
        background: url(/idep-html-2021/images/bg-media.png) no-repeat center left;
        background-position-x: -310px;
        padding: 10px;
        border-radius: 15px;
    }
    */
}