/*----------------------------------
---------------Header---------------
------------------------------------*/
.theme-snap{
    #mr-nav{
        background-color: $white;
        box-shadow: 0rem 0.5rem 0.5rem 0rem rgba($blue-site-semilight,0.3);

        #snap-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2% 4% 2% 4%;

            @media (min-width: 992px) {
                padding: 1% 4% 1% 4%; ;
            }

            @media (min-width: 1800px) {
                padding: 0.5% 4% 0.5% 4%; ;
            }

            #snap-home{
                max-width: 50%;
                height: 60px;

                @media (min-width: 768px) {
                    max-width: 100%;
                    margin: unset;
                }
            }
        }
    }
}


