/*----------------------------------
----------------Login---------------
------------------------------------*/
#page-login-index{
    #page{
        background: $orange-site-semilight url("#{$images-path}img_bg_lines.svg") no-repeat 100% center/cover;
        @media (min-width: 1200px) {
            background: $white url("#{$images-path}img_login_bg.png") no-repeat center/cover;
        }

        #page-content{
            #moodle-page{
                #page-header{
                    min-height: 0;
                    background: unset !important;
                    box-shadow: none !important;
                    padding: 2% 2% 4% 4% !important;
                    &::before{
                        background: none !important;
                    }
                }
                #region-main{
                    background: unset;
                    &::before{
                        background: unset;
                    }
                    &::after{
                        background: unset;
                    }
                    div[role=main]{
                        @media (min-width: 1200px) {
                            float: right;
                            position: relative;

                            &::before{
                                content: '';
                                background: url("#{$images-path}img_idep_logo_cover.svg") no-repeat center center/contain;
                                width: 100%;
                                height: 300px;
                                position: absolute;
                                left: -125%;
                                top: 30%;
                            }
                        }

                        @media (min-width: 1800px) {
                            padding-right: 15%;
                        }



                    }
                }
            }
        }
    }
}