/*----------------------------------
------------page-site-index---------
------------------------------------*/

#page-site-index{
        &.notloggedin {

            #page{
                #page-content{
                    #moodle-page{
                        #moodle-blocks{
                            padding: 0;
                        }
                    }
                }
            }

        }

        #page{
            #page-content{
                #moodle-page{
                    #page-header{
                        padding-top: unset;
                        position: relative;
                        box-shadow: 0rem 0.5rem 0.5rem 0rem rgba($blue-site-semilight,0.3);
                        background: $orange-site url("#{$images-path}img_bg_lines.svg") no-repeat 0 center/cover !important;
                        @media (min-width: 992px) {
                            background: $orange-site url("#{$images-path}img_bg_lines.svg") no-repeat center 50%/100% !important;
                        }

                        &::before{
                            content: '';
                            background: url("#{$images-path}img_header_after_section.svg") no-repeat top center/contain;
                            width: 70px;
                            height: 50px;
                            position: absolute;
                            left: calc(50% - 35px);
                            bottom: -49px;
                        }

                        #page-mast{

                            width: 100%;
                            background-color: unset;
                            text-align: center;
                            margin: 25vh 0 0 0;
                            @media (min-width: 768px) {
                                margin: 20vh 0 0 0;
                            }
                            @media (min-width: 1800px) {
                                margin: 15vh 0 0 0;
                            }

                            h1{
                                color: $white;
                                position: relative;
                                padding-top: 50px;
                                margin-top: unset;

                                &::before{
                                    content: '';
                                    background: url("#{$images-path}img_idep_logo_header.svg") no-repeat bottom center/contain;
                                    width: 200px;
                                    height: 100px;
                                    position: absolute;
                                    left: calc(50% - 100px);
                                    top: -60px;
                                }
                            }

                            .btn{
                                &.btn-primary{
                                    &:hover{
                                        background-color: $white !important;
                                        color: $orange-site;
                                    }

                                }
                            }

                        }

                    }

                    #region-main{

                        background: url("#{$images-path}img_page_bottom.svg") no-repeat bottom left/30%;
                        &::after{
                            background: unset;
                        }

                        div[role=main]{

                            margin-top: 0;

                            .sitetopic{

                                .section{
                                    .activity{
                                        .activityinstance{

                                            color: $blue-site;
                                            text-align: left;
                                            font-family: 'museosans-900';
                                            font-size: 1.2rem;
                                            padding-left: 2.5rem;
                                            position: relative;

                                            @media (min-width: 992px) {
                                                font-size: 1.5rem;
                                            }

                                            &::before{
                                                content: "";
                                                width: 2.2rem;
                                                height: 2.2rem;
                                                background: url("#{$images-path}icon_bookmark.svg") no-repeat center center/contain;
                                                margin-left: -2.5rem;
                                                position: absolute;
                                            }

                                        }
                                    }
                                }
                            }

                            #moodle-frontpage-elements{

                                #frontpage-course-list{

                                    h2{
                                        color: $blue-site;
                                        text-align: left;
                                        font-family: 'museosans-900';
                                        font-size: 2rem;
                                        padding-left: 2.5rem;
                                        position: relative;
                                        overflow-x: hidden;
                                        content:"Cursos y espacios disponibles";
                                        @media (min-width: 992px) {
                                            font-size: 2.2rem;
                                        }

                                        &::before{
                                            content: "";
                                            width: 2.2rem;
                                            height: 2.2rem;
                                            background: url("#{$images-path}icon_courses.svg") no-repeat center bottom/contain;
                                            margin-left: -2.5rem;
                                            position: absolute;
                                            top: 0.9rem;
                                        }
                                        &::after{
                                            content: "";
                                            background-color: $blue-site;
                                            top: 50%;
                                            margin: 0 1rem;
                                            position: absolute;
                                            height: 0.1rem;
                                            width: 100%;
                                        }
                                    }

                                    .courses{
                                        text-align: center;

                                        .coursebox{
                                            margin: 0.5em 0 !important;
                                            background-color: $white;
                                            border-radius: 0.5rem;
                                            box-shadow: 0rem 0.2rem 1rem 0rem rgba($blue-site-semilight,0.3);
                                            @media (min-width: 768px) {
                                                width: 80%;
                                            }

                                            @media (min-width: 992px) {
                                                padding: 0.2em 0;
                                                margin: 0.5em !important;
                                                width: 45%;
                                                min-height: 250px;
                                            }

                                            @media (min-width: 1200px) {
                                                width: 30%;
                                            }


                                            .info{
                                                width: 90%;
                                                margin: 0 auto;

                                                .coursename{
                                                    color: $blue-site;
                                                    text-align: left;
                                                    font-family: 'museosans-900';
                                                }
                                            }

                                            .content{
                                                margin-top: 0.5em;
                                                .courseimage{
                                                    width: 100% !important;
                                                }

                                                .summary{
                                                    overflow: hidden;
                                                    white-space: nowrap;
                                                    text-align: left;
                                                    font-family: 'museosans-300';
                                                    width: 90% !important;
                                                    margin: 0 auto;
                                                    padding: 0 5%;
                                                    line-height: 1;
                                                    margin-bottom: 0.5em;

                                                    :first-child{
                                                        text-overflow: ellipsis !important;
                                                        overflow: hidden !important;
                                                    }
                                                }

                                                .teachers{
                                                    overflow: hidden;
                                                    white-space: nowrap;
                                                    font-family: 'museosans-100';
                                                    color: $blue-site;
                                                    width: 90% !important;
                                                    padding: 0 5%;
                                                }
                                            }
                                        }

                                        .paging-morelink{
                                            a{
                                                color: $white !important;
                                                background-color: $orange-site !important;
                                                border: none !important;
                                                border-radius: 50rem !important;
                                                box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba($black,0.3);

                                                &:hover{
                                                    background-color: $blue-site !important;
                                                    outline-color: $orange-site !important;
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


