
// #module-22 éste id tendría que cambiar al migrar
#module-2 .snap-header-card{display: none; }
#module-2{border: 3px solid #323264;border-top: 3px solid #323264!important; border-radius: 10px; background: url(/idep-html-2021/images/img-emm.png) no-repeat bottom left;background-size: 50%;margin: 0 -5vw;}
#module-2 .activityinstance{margin-bottom: 0;}
#module-2>div.asset-wrapper {width: 50%;margin-left: 50%;padding: 1rem; padding-bottom: 0;}
#module-2 h3.snap-asset-link {display: none;}
#module-2 h3.title-emym{display: flex; color: #e75468;font-size: 1.5rem;}
#module-2 h3.title-emym small{color: #3eafaa;font-size: 1.2rem!important; display: contents;}
#module-2 h3.title-emym::before {content: " ";width: 144px;margin-left: -20px;height: 106px;background: url(/idep-html-2021/images/ico-emymi.svg) no-repeat;background-size: contain;background-position: center center;display: flex;margin-right: 16px;}
#module-2 .section li.snap-native .contentafterlink{padding-bottom: 0;}
#module-2 .snap-resource-card-fadeout{display: none;}

@media (max-width: 1024.98px) {
    #module-2>div.asset-wrapper{width: 100%;padding: 16px;margin-left: 0px;border-radius: 5px;}
    #module-2{margin: 0 0;}
    #module-2 .activityinstance{ padding: 16px; border-radius: 6px;}
}
#module-3 .snap-header-card{display: none; }
#module-3 {
    border: 3px solid #323264;
    border-top: 3px solid #323264!important;
    border-radius: 10px; background: url(/idep-html-2021/images/img-mmis.png) no-repeat bottom right;
    background-size: 50%;
    margin: 20px -5vw 0;
}
#module-3 .activityinstance{margin-bottom: 0;}
#module-3>div.asset-wrapper {width: 50%;padding: 1rem; padding-bottom: 0;}
#module-3 h3.snap-asset-link {display: none;}
li#module-3 div.summary-figure {
   display: none;
   img{
    display: none;
   }
}
li#module-3{
    label.lb-mm {
        background: #FAB71D;
        padding: 8px 12px;
        color: white;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     border-top: 80px solid #fff;
        //     border-right: 80px solid transparent;
        //     width: 0;
        // }
        // &::after{
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     border-top: 80px solid #fff;
        //     border-left: 80px solid transparent;
        //     width: 0;
        // }
    }
    label.lb-nsp{
        background: #5EBFC3;
        padding: 5px 10px;
        color: white;
    }
    small{
        background: #5EBFC3;
        padding: 5px 10px;
        margin: -5px -10px;
        color: white;
    }
}

@media (max-width: 1024.98px) {
    #module-3>div.asset-wrapper{width: 100%;padding: 16px;margin-left: 0px;border-radius: 5px;}
    #module-3{margin: 0 0;}
    #module-3 .activityinstance{ padding: 16px; border-radius: 6px;}
}