/*----------------------------------
---------------Variables------------
------------------------------------*/

/* Colors -------------------------------*/
$white: #ffffff !default; //
$black: #000000 !default; //

/*Nova Color*/
$main:#ff4f14;
$main-light: #ffa78a;
$main:#9e2800;

$accent-light:#5100e7;
$accent-dark:#260031;

$gray-light: #e6e6e6;
$gray: #999999 !default;
$gray-dark:#4d4d4d;

// -------------------------------
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }

@media (min-width: 1800px) { }