/*----------------------------------
---------------Variables------------
------------------------------------*/
$url-site:"idep-html-2021";
$images-path: "../images/";
$font-path: "../fonts/";

/* Colors -------------------------------*/
$white: #ffffff !default; //
$black: #000000 !default; //
$gray: #CCCCCC !default;

$gray-light: #F2F2F2;
$blue-light: #007ED1;
$blue-semilight: #3366CC;

$blue-site: #323264;
$blue-site-semilight: #4C4C63;
$blue-site-light:#9898B2;
$blue-site-ultralight:#DADADF;

$green-site-light: #5EBFC3;
$yellow-site: #FAB71D;
$magenta-site: #E51F5D;

$orange-site: #E85B0C;
$orange-site-semilight: #ED7C3D;
$orange-site-light: #ED7C3D;
$orange-site-dark: #BC5049;

/*Courses*/
$category-1: #BB8916;
$category-1-light:#FAB71D;
$category-2: #18A3AA;
$category-2-light:#5EBFC3;
/*
$category-3: #E85B0C;
$category-3-light:#E85B0C;
$category-4: #E85B0C;
$category-4-light:#E85B0C;
*/
/*Measures*/
$main-header-height: 132px;

// -------------------------------
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }

@media (min-width: 1800px) { }